
.navi  {
  background-image: linear-gradient(-90deg, /*#5792BE #ccddff*/#003300, white);
  border: black;
}

.navi li{
  font-size: 1.25em;
}

.pull-left  {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 100px;
}

.welcome h1 {
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
 color: white;
 font-size: 45px;
 /*font-weight: bold;*/
 border: 3px solid #f1f1f1;
 position: absolute;
 top: 25%;
 left: 76%;
 transform: translate(-50%, -50%);
 z-index: 2;
 width: 50%;
 padding: 20px;
 text-align: center;
}


.lightbox2 p {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-size: 35px;
  /*font-weight: bold;*/
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.bonjour  {
  background-image: url(/Users/Olivier/Desktop/Projects/Websites/personal_site/resources/photos/tree-jumbo.jpg);
  background-size: 100% 100%;
  min-height: 650px;
  filter: blur(4px);
}


.secondary  {
  background-image: url(/Users/Olivier/Desktop/Projects/Websites/personal_site/resources/photos/IMG_3157.jpg);
}
